A tech should be able to:
	View all parts on a current transaction
	Look up a part to add to the current transaction
	Remove a part from a transaction

An admin should be able to:
	Remove a part from the inventory list
	Change the on-hand of any parts
	Add a part to the inventory list

A sales associate should be able to:
	Lookup prices of parts given part numbers or order numbers
	View all parts on an order
	Remove a part from a transaction